[Unit]
Description=Electroneum Full Node
After=network.target

[Service]
User=electroneum
Group=electroneum
WorkingDirectory=~

Type=forking
PIDFile=/var/run/abcd.pid

ExecStart=/usr/bin/abcd --config-file /etc/abcd.conf \
    --detach --pidfile /var/run/abcd.pid

[Install]
WantedBy=multi-user.target
